.gradio-container.gradio-container-4-41-0.svelte-wpkpf6.app {
  padding-right: 20%;
  padding-left: 20%;
  min-height: initial;
  flex-grow: 0 !important;
  background: #383838;

}

.contain.svelte-1rjryqp {
background: #383838;
}

[id^="component-"] {
background: #383838;
}


.dark {
--body-background-fill: #383838 !important;
--background-fill-secondary: #383838 !important;
--block-label-background-fill: #383838 !important;
--panel-background-fill: #383838 !important;
--block-background-fill: #383838 !important;
background-color: #383838 !important;


}



@media (prefers-color-scheme: dark) {
body {
    background: #383838 !important;
    color: var(--col-dark); /* Puedes mantener el color de texto existente */
}
}

/*
.svelte-1rjryqp {
display: none !important;
}

.show-api.svelte-1rjryqp {
display: none !important;
}

.built-with.svelte-1rjryqp {
display: none !important;
}
