.gradio-container.gradio-container-4-41-0.svelte-wpkpf6.app {
  padding-right: 10%;
  padding-left: 10%;
  min-height: initial;
  flex-grow: 0 !important;
  background: #383838 !important;

}



/* Fondo general de la aplicación */
body, .gradio-container {
  background-color: #383838;

}


.dark {
  --background-fill-primary: #383838 !important;
  --body-background-fill: #383838 !important;

}